/cropped_image.png
/cropped_image_resized.png
ai_lr2/МО ЛР1 Лебедев В.А. 3335М.docx
ai_lr2/МО ЛР2 Лебедев В.А. 3335М.docx
ai_lr2/~$ ЛР2 Лебедев В.А. 3335М.docx
~$ ЛР3 Лебедев В.А. 3335М.docx
МО ЛР3 Лебедев В.А. 3335М.docx
